<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
<blockquote class="twitter-tweet" lang="en"><p>Verifying myself: I am brosner on Keybase.io. 4mEnL7ZDkEacmdGKNi2_2Jv6Y4AF8ZzpTzoJ / <a href="https://t.co/XU3cOPgsVY">https://t.co/XU3cOPgsVY</a></p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/449949752667283456">March 29, 2014</a></blockquote>
<hr>
<h4>Content #1 <small>Wednesday, June 25, 1986</small></h4>
<p>I am born today. Yay!</p>
<hr>
