<div id="main-row" class="row">
    <div id="main-left" class="col-md-4">
        <div id="intro" data-spy="affix">
            <h1>Brian Rosner</h1>
            <p>I am a Chief Architect working at <a href="http://eldarion.com/">Eldarion</a>. I live in Denver,&nbsp;CO with my beautiful wife and a cat.</p>
            <p>I spend a large amount of my time working on <a href="https://gondor.io/">Gondor</a>. I primarily write code in <a href="https://www.python.org/">Python</a> and <a href="http://golang.org/">Go</a>.</p>
            <p>This site is hand-coded in <a href="http://golang.org/">Go</a>, <a href="http://backbonejs.org/">Backbone.js</a>, <a href="http://handlebarsjs.com/">Handlebars.js</a> and <a href="http://getbootstrap.com/">Bootstrap 3</a>.</p>
        </div>
    </div>
    <div class="col-md-8" id="content">
        <div class="row">
            <div id="posts" class="col-md-8"></div>
            <div class="col-md-4">
                <h5>By date</h5>
                <ul class="list-unstyled list-inline">
                    <li>2014</li>
                    <li>2013</li>
                    <li>2012</li>
                    <li>2011</li>
                    <li>2010</li>
                    <li>2009</li>
                    <li>2008</li>
                    <li>2007</li>
                    <li>2006</li>
                    <li>2005</li>
                </ul>
                <h5>By location</h5>
                <h5>By tag</h5>
            </div>
        </div>
    </div>
</div>
<script id="tmpl_loading" type="text/x-handlebars-template">
    <div class="text-center" style="padding: 10px 0;"><i class="fa fa-spinner fa-spin"></i></div>
</script>
<script id="tmpl_post" type="text/x-handlebars-template">
    <blockquote class="twitter-tweet" lang="en"><p>More and more Python projects support Python 3 is great, but remember to deal with __pycache__ directories like pyc files.</p>&mdash; Brian Rosner (@brosner) <a href="https://twitter.com/brosner/statuses/445648384699797504">March 17, 2014</a></blockquote>
</script>
