<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Brian Rosner</title>
        <link rel="stylesheet" href="/static/site.css">
    </head>
    <body>
        <div id="app">
            {{ yield }}
        </div>
        <script src="/static/site.js"></script>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
</html>
